/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.home-section {
  background-color: #f3eae3;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent {
  display: flex;
  margin: 0px auto;
  width: 500px;
  background-color: white;
  border-radius: 10px;
}
.right-side {
  /* margin-right: 20px; */
}
.right-side img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.left-side {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  align-self: center;
}
.left-side .top-text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 4px;
  color: gray;
  text-transform: uppercase;
  padding-top: 10px;
  margin-bottom: 10px;
}
.left-side h2 {
  font-family: "Fraunces", serif;
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 700;
}
.left-side .center-text {
  /* padding-top: 15px;
  width: 80%;
  line-height: 1.4;
  color: gray; */
  margin-top: 15px;
  font-size: 12px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 10px;
}

.left-side .bottom-text {
  padding: 15px 0px;
  color: #3d8168;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: "Fraunces", serif;
}
.left-side .bottom-text span {
  color: gray;
  font-size: 15px;
}

.left-side button {
  background-color: #3d8168;
  padding: 10px 50px;
  color: white;
  border: none;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 16px;
  /* margin-top: 40px; */
}
.fa-solid,
.fa-cart-arrow-down {
  padding-right: 10px;
}
